### Tuple data Structure

**Tuple are immutable DS** (We can not change)

### Tuple Creation

In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
t = (1,2,3,4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [4]:
# Mixted data type
t1 = (1,2,'Python','xyz')
print (t1)

(1, 2, 'Python', 'xyz')

In [6]:
# nested tuple
t2 = (1,(2,3,4),["abc",'swapnil',25],55)
print(t2)

(1, (2, 3, 4), ['abc', 'swapnil', 25], 55)

In [7]:
t3 = ("Swapnil")
type(t3)             ## only one is not valid

str

In [10]:
t4 = ("Swapnil",)
type(t4)

tuple

### Tuple Indexing

Index must be a integer, so we can not use float, strng or other data type as index

In [11]:
tup = (1,2,4,5,7,9)

In [12]:
tup[0]

1

In [13]:
tup[0:4]

(1, 2, 4, 5)

In [14]:
tup[-5]

2

In [15]:
tup[::-1]

(9, 7, 5, 4, 2, 1)

In [16]:
print(t2)

(1, (2, 3, 4), ['abc', 'swapnil', 25], 55)

In [17]:
len(t2)

4

In [18]:
t2[2][1]

'swapnil'

In [19]:
t2[2][1:3]

['swapnil', 25]

### How we a change the element in tghe tuple

In [20]:
# unike a list, typles are immutable

In [21]:
t2

(1, (2, 3, 4), ['abc', 'swapnil', 25], 55)

In [23]:
t2[0]

1

In [24]:
t2[0] = '5'

TypeError: 'tuple' object does not support item assignment

In [25]:
type(t2[1])

tuple

In [26]:
type(t2[2])

list

In [27]:
t2[2][0]="PYTHON"    #list we can change

In [28]:
t2

(1, (2, 3, 4), ['PYTHON', 'swapnil', 25], 55)

In [29]:
a = (1,2,3)
b =(5,6,7)
a + b

(1, 2, 3, 5, 6, 7)

In [30]:
tp = (("Swapnil",)*4)
print(tp)

('Swapnil', 'Swapnil', 'Swapnil', 'Swapnil')

### Tuple Deletion

we can not change the element in a tuple

using del keyword we can delete entire tuple

In [31]:
x = (1,2,3)
del x

In [32]:
x

NameError: name 'x' is not defined

### Tuple Count

In [33]:
t =(1,2,2,2,3,2,5,6,7,9,9,8,0)
t.count(2)

4

In [34]:
t.index(3)

4

### Membership Operator

In [35]:
10 in t

False

In [36]:
9 in t

True

### Built in Function

In [37]:
len(t)

13

In [38]:
max(t)

9

In [39]:
min(t)

0

In [40]:
sum(t)

56

In [41]:
sorted(t)

[0, 1, 2, 2, 2, 2, 3, 5, 6, 7, 8, 9, 9]

In [42]:
t

(1, 2, 2, 2, 3, 2, 5, 6, 7, 9, 9, 8, 0)

In [43]:
sorted(t,reverse=True)

[9, 9, 8, 7, 6, 5, 3, 2, 2, 2, 2, 1, 0]