### Python set Data Structure:

### set

1) A set is an **unordered collection** of items.(Unordered collection means can't be indexed)
2)Every element is unique.(no duplicate)   
3)The set itself is mutable. we can add or remove from the set.    
4)set is oftten enclosed by curly braces{}.   
5) Sets can be used to perforrm mathematical set operations like union, intersection,symmetric difference etc   
6) we can crest set using {} or set() Constructure.

**Create a Set**

In [1]:
set_1 = {1,2,3}
type(set_1)

set

In [2]:
A = set((1,23))
type(A)

set

In [3]:
s = {}
type(s)

dict

In [4]:
s={"a"}
type(s)

set

In [5]:
s = {"a":20}
type(s)

dict

### Creat a set of mixed data types

In [6]:
mix = {"Python","Swapnil",15,22,(1,2,3)}
print(mix)            ##***unordered***

{(1, 2, 3), 15, 'Python', 'Swapnil', 22}

### Set Methods

In [7]:
print([i for i in dir(set) if "_" not in i])

['add', 'clear', 'copy', 'difference', 'discard', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'union', 'update']

### Adding a element into the set

In [8]:
A = {1,2,3,2,3,4,4,5}
A

{1, 2, 3, 4, 5}

In [9]:
A.add(100)
print(A)

{1, 2, 3, 4, 5, 100}

**How we can update multiple value**

In [10]:
A.update([10,20,30,40,50])
A

{1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 100}

In [11]:
A.update({99,9})
A

{1, 2, 3, 4, 5, 9, 10, 20, 30, 40, 50, 99, 100}

### Remove elements from the set

1) **Discard() Mrthod**  - does **not** show any error if target element is not a part of dataset.   
2) **Remove() Mrthode**  - if our target element is not a part of dataset then it will shown error.

In [12]:
A.discard(80)

In [13]:
A.remove(80)

KeyError: 80

In [14]:
A.discard(99)

In [15]:
A

{1, 2, 3, 4, 5, 9, 10, 20, 30, 40, 50, 100}

In [16]:
A.remove(100)
A

{1, 2, 3, 4, 5, 9, 10, 20, 30, 40, 50}

In [17]:
A.pop()

1

In [18]:
A

{2, 3, 4, 5, 9, 10, 20, 30, 40, 50}

### Clear all the elements fron the set

In [19]:
A.clear()

In [20]:
A

set()

### Python Set Operation

In [21]:
setA = {"a",'e','i','o','u','p'}
setB = {"a",'e','m','k','r','u'}

**UNION**

In [22]:
print(setA | setB)

{'e', 'r', 'i', 'k', 'a', 'm', 'u', 'p', 'o'}

In [23]:
print(setA.union(setB))

{'e', 'r', 'i', 'k', 'a', 'm', 'u', 'p', 'o'}

**INTERSECTION**

In [24]:
print(setA & setB)

{'u', 'a', 'e'}

In [25]:
print(setA.intersection(setB))

{'u', 'a', 'e'}

**Python Set Difference**

In [26]:
A_Set = {1,2,4,6,8}
B_Set = {6,9,20,11,3}

In [27]:
A_Set.difference(B_Set)

{1, 2, 4, 8}

In [28]:
B_Set.difference(A_Set)

{3, 9, 11, 20}

**Python Set Symmetric Difference**

In [31]:
#####*************

A_Set = {1,2,4,6,8}
B_Set = {6,9,20,11,3,8}

## Except Comman in both the set

In [33]:
print(A_Set ^ B_Set)
print(A_Set.symmetric_difference(B_Set))

{1, 2, 3, 4, 9, 11, 20}
{1, 2, 3, 4, 9, 11, 20}

In [34]:
print(A_Set.union(B_Set) - A_Set.intersection(B_Set))

{1, 2, 3, 4, 9, 11, 20}

**Difference Update**

In [37]:
Myset = {2,4,6,8}
Myset.difference_update((6,5,8))

In [38]:
Myset

{2, 4}

In [39]:
4 in Myset

True

In [40]:
10 in Myset

False